[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
ariadne = "*"
starlette = "*"
uvicorn = "*"
pydantic = "*"
passlib = "*"
PyJWT = ">=2.4.0"
SQLAlchemy = "*"
itsdangerous = "*"
httpx = ">=0.23.0"
psycopg2-binary = "*"
Authlib = "*"
bson = "*"
python-frontmatter = "*"
bs4 = "*"
transliterate = "*"
psycopg2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
