bcrypt
PyJWT
authlib
passlib==1.7.4
google-analytics-data
colorlog
psycopg2-binary
httpx
redis[hiredis]
sentry-sdk[starlette,sqlalchemy]
starlette
gql
ariadne
granian

# NLP and search
httpx

orjson
pydantic
trafilatura

types-requests
types-passlib
types-Authlib
types-orjson
types-PyYAML
types-python-dateutil
types-sqlalchemy
types-redis
types-PyJWT
