bcrypt
PyJWT>=2.10
authlib
google-analytics-data
colorlog
psycopg2-binary
httpx
redis[hiredis]
sentry-sdk[starlette,sqlalchemy]
starlette
gql
ariadne
granian
sqlalchemy>=2.0.0

orjson
pydantic

types-requests
types-Authlib
types-orjson
types-PyYAML
types-python-dateutil
types-redis
types-PyJWT
