bcrypt
PyJWT
authlib
passlib
opensearch-py
google-analytics-data
colorlog
psycopg2-binary
httpx
redis[hiredis]
sentry-sdk[starlette,sqlalchemy]
starlette
gql
ariadne
granian

# NLP and search
httpx

orjson
pydantic
trafilatura